.inicio {
    padding: 10px;
    background-color: #0EA9DC;
    color: black;
    height: 150px;
    display: flex;
    justify-items: center;
    justify-content: space-between;
}
.inicio .logo {
    background-color: white;
    border-radius: 50%;
    height: 96px;
    width: 96px;
    padding: 10px;
    display: flex;
    align-items: center;
    

}

.logo{
    object-fit: fill;
    max-height: 100px;
    max-width: 100px;
    border-radius: 10px;
    object-fit: fill;
    overflow: hidden;
    position: static;
}

.inicio .btn {
    display: inline-flex;
    align-items: center;
    border-width: none;
    height: 40px;
    border-radius: 15px;
    padding: 10px;
    background-color: transparent;
    color: rgba(0,0,0,0.6);
    border-color:(0,0,0,0.6) ;    
    cursor: pointer;

}

.btn:hover {
    background-color: rgb (112, 181, 249, 0.2);
    border-width: 2px;
}

.titulo {
    color: aquamarine;
    al
}